<div
  class="lg:max-w-[1200px] lg:m-auto bg-background p-5 md:p-10 md:pt-5 rounded-lg"
>
  <h3 class="text-lg font-semibold text-foreground">Salary Cost</h3>
  <div
    class="flex flex-col sm:flex-row sm:items-center justify-between items-left gap-5 mb-3"
  >
    <p class="font-semibold text-muted-foreground">Salary cost data:</p>
    <div
      class="w-full max-w-[200px] sm:max-w-[320px] min-w-[200px] sm:flex gap-2 items-center justify-end"
    >
      <label class="block text-sm font-semibold text-muted-foreground">
        Select Location:
      </label>

      <div class="relative">
        <select
          class="w-min bg-transparent placeholder:text-muted-foreground text-muted-foreground text-sm border-2 border-primary/80 rounded-md pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none hover:border-primary focus:border-primary shadow-sm focus:shadow-md appearance-none cursor-pointer font-semibold"
        >
          <option class="bg-card font-semibold" value="fremont Hhgh school">
            Fremont High School
          </option>
          <option class="bg-card font-semibold" value="fremont Hhgh school">
            Fremont High School
          </option>
          <option class="bg-card font-semibold" value="fremont Hhgh school">
            Fremont High School
          </option>
          <option class="bg-card font-semibold" value="fremont Hhgh school">
            Fremont High School
          </option>
        </select>
      </div>
    </div>
  </div>
  <div
    class="relative flex flex-col w-full h-full overflow-auto shadow-md rounded-lg bg-clip-border z-10 max-h-[600px]"
  >
    <table class="w-full text-left table-auto min-w-max">
      <thead class="sticky top-0">
        <tr>
          @for (item of tableHeaders(); track item) {
          <th
            class="p-4 border-b border-dashed border-border bg-primary/90 text-primary-foreground"
          >
            <p class="block text-sm font-bold leading-none">{{ item }}</p>
          </th>
          }
        </tr>
      </thead>
      <tbody class="bg-background text-foreground">
        @for (item of data(); track item.employeeNumber; let odd = $odd) {
        <tr class="hover:bg-primary/5" [ngClass]="odd ? '' : ''">
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.employeeName }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.employeeNumber }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.PCN }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.jobcodeName }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.fteused }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.fteauthorized }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.dayscnt }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.postypeid }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.bargainunitid }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.calendarid }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.salaryschedid }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.salarytimeunit }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.salaryschedcellid }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.annualSalary }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.totalAddons }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.totalContributions }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.totalBenefits }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.totalCost }}</p>
          </td>
          <td class="p-4 border-b border-dashed border-border">
            <p class="block text-sm">{{ item.numberOfMonths }}</p>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
