<div
  class="lg:max-w-[1200px] lg:m-auto bg-background p-5 md:p-10 md:pt-5 rounded-lg"
>
  <ul
    class="relative flex justify-around flex-wrap gap-5 font-semibold text-sm mb-10"
  >
    @for (category of categories; track category.label; let index = $index) {
    <li class="flex-1">
      <button
        (click)="changeCategory(index + 1)"
        data-ripple-light="true"
        class="whitespace-nowrap px-2 md:px-8 py-3 rounded-lg w-full"
        [ngClass]="
          selectedCategory() === index + 1
            ? 'bg-primary text-primary-foreground'
            : ' bg-card text-muted-foreground'
        "
      >
        {{ category.label }}
      </button>
    </li>
    }
  </ul>

  <ng-container
    *ngComponentOutlet="categories[selectedCategory() - 1].component"
  ></ng-container>
</div>
