<div
  class="lg:max-w-[1200px] lg:m-auto bg-background p-5 md:p-10 md:pt-5 rounded-lg"
>
  <!-- <ul
    class="relative flex justify-around flex-wrap gap-5 font-semibold text-sm mb-10"
  >
    @for (category of categories; track category.label; let index = $index) {
    <li class="flex-1">
      <button
        (click)="changeCategory(index + 1)"
        data-ripple-light="true"
        class="whitespace-nowrap px-2 md:px-8 py-3 rounded-lg w-full"
        [ngClass]="
          selectedCategory() === index + 1
            ? 'bg-primary text-primary-foreground'
            : ' bg-card text-muted-foreground'
        "
      >
        {{ category.label }}
      </button>
    </li>
    }
  </ul> -->
  <ol
    class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 mb-10 overflow-auto pb-10"
  >
    @for (category of categories; track category.label; let index = $index; let
    last = $last) { @if (selectedCategory() === index+1 && !last) {
    <li
      (click)="changeCategory(index + 1)"
      class="flex items-center shrink-0 w-fit text-primary sm:after:content-[''] after:w-[50px] after:h-1 after:border-b after:border-1 after:hidden sm:after:inline-block after:mx-2 after:border-border cursor-pointer"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-foreground shrink-0"
      >
        <svg
          class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        {{ category.label }}
      </span>
    </li>
    } @else if (selectedCategory() !== index +1 && !last) {
    <li
      (click)="changeCategory(index + 1)"
      class="flex shrink-0 w-fit items-center after:content-[''] after:w-[50px] after:h-1 after:border-b after:border-1 after:hidden sm:after:inline-block after:mx-2 after:border-border cursor-pointer"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-muted-foreground"
      >
        <span class="me-2">{{ index + 1 }}</span>
        {{ category.label }}
      </span>
    </li>
    } @else if (selectedCategory() !== index +1 && last) {
    <li
      (click)="changeCategory(index + 1)"
      class="flex items-center shrink-0 w-fit cursor-pointer"
    >
      <span class="me-2">{{ index + 1 }}</span>
      {{ category.label }}
    </li>
    } @else {
    <li
      (click)="changeCategory(index + 1)"
      class="flex shrink-0 w-fit items-center text-primary cursor-pointer"
    >
      <span class="flex items-center after:mx-2">
        <svg
          class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
          />
        </svg>
        {{ category.label }}
      </span>
    </li>
    } }
  </ol>

  <ng-container
    *ngComponentOutlet="categories[selectedCategory() - 1].component"
  ></ng-container>
</div>
