<div
  class="relative flex flex-col w-full h-full overflow-auto shadow-md rounded-lg bg-clip-border z-10 max-h-[600px]"
>
  <table class="w-full text-left table-auto min-w-max">
    <thead class="sticky top-0">
      <tr>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px] text-center">
            Name
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px] text-center">
            PCN
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
          colspan="2"
        >
          <p class="block text-sm font-bold leading-none p-[3px] text-center">
            Current Year (2023 - 2024)
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
          colspan="2"
        >
          <p class="block text-sm font-bold leading-none p-[3px] text-center">
            Projected Year (2024 - 2025)
          </p>
        </th>
        <th
          colspan="3"
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px] text-center">
            Change Details
          </p>
        </th>
      </tr>
      <tr>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        ></th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        ></th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">FTE</p>
        </th>
        <th
          class="h-[40px] w-[150px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">
            Salary + Benefits
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">FTE</p>
        </th>
        <th
          class="h-[40px] w-[150px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">
            Salary + Benefits
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">
            Reason for FTE Change
          </p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">Comments</p>
        </th>
        <th
          class="h-[40px] border border-dashed border-border bg-primary/90 text-primary-foreground"
        >
          <p class="block text-sm font-bold leading-none p-[3px]">
            Comments History
          </p>
        </th>
      </tr>
    </thead>
    <tbody class="bg-background text-foreground">
      <tr>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">BOYD, DEREK JEFFERSON</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">7025</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$117,187.05</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$117,187.05</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <select
            class="w-full bg-transparent placeholder:text-muted-foreground text-muted-foreground text-sm border-2 border-primary/80 rounded-md pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none hover:border-primary focus:border-primary shadow-sm focus:shadow-md appearance-none cursor-pointer font-semibold"
          >
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
          </select>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <textarea
            class="peer h-[70px] w-full rounded-[7px] text-muted-foreground border-2 border-primary bg-transparent px-3 py-2.5 font-sans text-sm font-normal outline outline-0 transition-all focus:outline-0 focus:border-primary"
            placeholder="Type a comment..."
          ></textarea>
        </td>
        <td
          class="border border-dashed h-[80px] w-[400px] border-border hover:bg-primary/5"
        >
          <div class="flex flex-col">
            <p class="block text-sm h-full w-full p-[3px]">
              site_admin: test message 1 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              hr_analyst: test message 2 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              budget_analyst: test message 3 - 2024-08-01
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">CURRY, RASHAAN</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">2055</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$106,277.92</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$106,277.92</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <select
            class="w-full bg-transparent placeholder:text-muted-foreground text-muted-foreground text-sm border-2 border-primary/80 rounded-md pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none hover:border-primary focus:border-primary shadow-sm focus:shadow-md appearance-none cursor-pointer font-semibold"
          >
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
          </select>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <textarea
            class="peer h-[70px] w-full rounded-[7px] text-muted-foreground border-2 border-primary bg-transparent px-3 py-2.5 font-sans text-sm font-normal outline outline-0 transition-all focus:outline-0 focus:border-primary"
            placeholder="Type a comment..."
          ></textarea>
        </td>
        <td
          class="border border-dashed h-[80px] w-[400px] border-border hover:bg-primary/5"
        >
          <div class="flex flex-col">
            <p class="block text-sm h-full w-full p-[3px]">
              site_admin: test message 1 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              hr_analyst: test message 2 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              budget_analyst: test message 3 - 2024-08-01
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">GEBRESLASSIE, MICHAEL ASSEFAW</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">9104</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$106,277.92</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">1.00</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[120px] border-border hover:bg-primary/5"
        >
          <p class="block text-sm pl-1">$106,277.92</p>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <select
            class="w-full bg-transparent placeholder:text-muted-foreground text-muted-foreground text-sm border-2 border-primary/80 rounded-md pl-3 pr-8 py-2 transition duration-300 ease focus:outline-none hover:border-primary focus:border-primary shadow-sm focus:shadow-md appearance-none cursor-pointer font-semibold"
          >
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
            <option class="bg-card font-semibold" value="Select a Reason">
              Select a Reason
            </option>
          </select>
        </td>
        <td
          class="border border-dashed h-[80px] w-[250px] border-border hover:bg-primary/5 p-3"
        >
          <textarea
            class="peer h-[70px] w-full rounded-[7px] text-muted-foreground border-2 border-primary bg-transparent px-3 py-2.5 font-sans text-sm font-normal outline outline-0 transition-all focus:outline-0 focus:border-primary"
            placeholder="Type a comment..."
          ></textarea>
        </td>
        <td
          class="border border-dashed h-[80px] w-[400px] border-border hover:bg-primary/5"
        >
          <div class="flex flex-col">
            <p class="block text-sm h-full w-full p-[3px]">
              site_admin: test message 1 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              hr_analyst: test message 2 - 2024-08-01
            </p>
            <p class="block text-sm h-full w-full p-[3px]">
              budget_analyst: test message 3 - 2024-08-01
            </p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
