<div
  class="fixed left-5 top-[100px] flex h-[calc(100vh-110px)] w-[20rem] flex-col rounded-xl bg-clip-border shadow-custom lg:top-0 lg:h-screen lg:left-0 transition-all duration-300 bg-background text-foreground z-30 p-[6px] overflow-hidden"
  [ngClass]="{
    'translate-x-0': isOpenSidebar(),
    '-translate-x-[120%]': !isOpenSidebar() && !collapseSidebar(),
    '!w-[70px]': collapseSidebar() && !isOpenSidebar(),
    'lg:w-[320px]': !collapseSidebar() && isOpenSidebar()
  }"
>
  @if (true) {
  <label
    [ngClass]="{
      '!opacity-0': !isOpenSidebar() && collapseSidebar()
    }"
    class="hidden cst:inline-flex ml-auto mt-2 mr-2 items-center cursor-pointer opacity-75"
  >
    <input
      type="checkbox"
      [checked]="collapseSidebar()"
      class="sr-only peer"
      (change)="toggleIsCollapsedSidebar()"
    />
    <div
      class="relative w-11 h-6 bg-muted-foreground peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-foreground after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary"
    ></div>
  </label>
  }

  <div class="flex gap-2 p-4 ml-[2px] h-[60px]">
    <span class="material-symbols-outlined text-primary mr-[6px]">
      insert_chart
    </span>
    @if (isOpenSidebar()) {
    <h5
      class="block font-sans text-xl antialiased leading-snug tracking-normal text-primary font-bold overflow-hidden"
    >
      Budget Developer
    </h5>
    }
  </div>
  <nav
    class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal"
  >
    <div class="relative block w-full">
      <div
        role="button"
        class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start focus:bg-opacity-80 active:bg-opacity-80 hover:bg-card text-muted-foreground hover:text-foreground group h-12"
      >
        <button
          type="button"
          class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none hover:text-foreground"
        >
          <div class="grid mr-4 place-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="w-5 h-5"
            >
              <path
                fill-rule="evenodd"
                d="M2.25 2.25a.75.75 0 000 1.5H3v10.5a3 3 0 003 3h1.21l-1.172 3.513a.75.75 0 001.424.474l.329-.987h8.418l.33.987a.75.75 0 001.422-.474l-1.17-3.513H18a3 3 0 003-3V3.75h.75a.75.75 0 000-1.5H2.25zm6.04 16.5l.5-1.5h6.42l.5 1.5H8.29zm7.46-12a.75.75 0 00-1.5 0v6a.75.75 0 001.5 0v-6zm-3 2.25a.75.75 0 00-1.5 0v3.75a.75.75 0 001.5 0V9zm-3 2.25a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0v-1.5z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          @if (isOpenSidebar()) {
          <p
            class="block mr-auto font-sans antialiased leading-relaxed text-muted-foreground group-hover:text-foreground text-sm font-medium transition-all duration"
          >
            Admin Section
          </p>
          <span class="ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              aria-hidden="true"
              class="w-4 h-4 mx-auto transition-transform rotate-180"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg>
          </span>
          }
        </button>
      </div>
    </div>
    <div class="relative block w-full">
      <div
        role="button"
        class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start focus:bg-opacity-80 active:bg-opacity-80 hover:bg-card text-muted-foreground hover:text-foreground group h-12"
      >
        <button
          type="button"
          class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none hover:text-foreground"
        >
          <div class="grid mr-4 place-items-center">
            <span class="material-symbols-outlined w-5"> database </span>
          </div>
          @if (isOpenSidebar()) {
          <p
            class="block mr-auto font-sans antialiased leading-relaxed text-muted-foreground group-hover:text-foreground text-sm font-medium transition-all duration"
          >
            Data Check
          </p>
          <span class="ml-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2.5"
              stroke="currentColor"
              aria-hidden="true"
              class="w-4 h-4 mx-auto transition-transform"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              ></path>
            </svg> </span
          >}
        </button>
      </div>
      @if (isOpenSidebar()) {
      <div class="overflow-hidden">
        <div
          class="block w-full py-1 font-sans text-sm antialiased font-light leading-normal text-gray-700"
        >
          <nav
            class="flex min-w-[240px] flex-col gap-1 p-0 font-sans text-base font-normal text-blue-gray-700"
          >
            <a
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Add-ons
            </a>
            <a
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Contributions
            </a>
            <a
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Benefits
            </a>
            <a
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Job Codes
            </a>
            <a
              closeSidebar
              routerLink="dashboard/salary-cost"
              routerLinkActive="text-primary hover:text-primary"
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Salary Costs
            </a>
            <a
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="w-5 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"
                  ></path>
                </svg>
              </div>
              Chart of Account
            </a>
          </nav>
        </div>
      </div>
      }
    </div>
    <div
      role="button"
      class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start focus:bg-opacity-80 active:bg-opacity-80 hover:bg-card text-muted-foreground hover:text-foreground group h-12"
    >
      <button
        type="button"
        class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none hover:text-foreground"
      >
        <div class="grid mr-4 place-items-center">
          <span class="material-symbols-outlined w-5"> automation </span>
        </div>
        @if (isOpenSidebar()) {
        <p
          class="block mr-auto font-sans antialiased leading-relaxed text-muted-foreground group-hover:text-foreground text-sm font-medium transition-all duration"
        >
          Wizard
        </p>
        <span class="ml-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            aria-hidden="true"
            class="w-4 h-4 mx-auto transition-transform rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            ></path>
          </svg> </span
        >}
      </button>
    </div>
  </nav>
</div>
