<div
  class="fixed left-3 md:left-5 top-[100px] flex h-[calc(100vh-110px)] w-[20rem] flex-col rounded-xl bg-clip-border shadow-custom lg:top-0 lg:h-screen lg:left-0 transition-all duration-300 bg-background text-foreground z-30 p-[6px] overflow-hidden"
  [ngClass]="{
    'translate-x-0': isOpenSidebar(),
    '-translate-x-[120%]': !isOpenSidebar() && !collapseSidebar(),
    '!w-[70px]': collapseSidebar() && !isOpenSidebar(),
    'lg:w-[320px]': !collapseSidebar() && isOpenSidebar()
  }"
>
  <label
    [ngClass]="{
      '!opacity-0': !isOpenSidebar() && collapseSidebar()
    }"
    class="hidden cst:inline-flex ml-auto mt-4 mr-3 items-center cursor-pointer opacity-75"
  >
    <input
      type="checkbox"
      [checked]="collapseSidebar()"
      class="sr-only peer"
      (change)="toggleIsCollapsedSidebar()"
    />
    <div
      class="relative w-11 h-6 bg-muted-foreground peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-foreground after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary"
    ></div>
  </label>

  <div class="flex gap-2 p-4 ml-[5px] h-[60px]">
    <span class="material-symbols-outlined text-primary mr-[6px]">
      insert_chart
    </span>
    @if (isOpenSidebar()|| !collapseSidebar()) {
    <h5
      class="block font-sans text-xl antialiased leading-snug tracking-normal text-primary font-bold overflow-hidden"
    >
      Budget Developer
    </h5>
    }
  </div>
  <nav
    class="flex min-w-[240px] flex-col gap-1 p-2 font-sans text-base font-normal overflow-auto"
  >
    @for (item of sidebarItems(); track item.id) {
    <div class="relative block w-full">
      <div
        role="button"
        class="flex items-center w-full p-0 leading-tight transition-all rounded-lg outline-none text-start focus:bg-opacity-80 active:bg-opacity-80 hover:bg-card text-muted-foreground hover:text-foreground group h-12"
      >
        <button
          (click)="setToggleItem(item.id)"
          type="button"
          class="flex items-center justify-between w-full p-3 font-sans text-xl antialiased font-semibold leading-snug text-left transition-colors border-b-0 select-none hover:text-foreground"
        >
          <div class="grid mr-4 place-items-center">
            <span class="material-symbols-outlined"> {{ item.icon }} </span>
          </div>
          @if (isOpenSidebar()|| !collapseSidebar()) {
          <p
            class="block mr-auto font-sans antialiased leading-relaxed text-muted-foreground group-hover:text-foreground text-sm font-medium transition-all duration"
          >
            {{ item.label }}
          </p>
          <span class="grid ml-4 place-items-center">
            <span
              [ngClass]="
                collapsedItem() === item.id
                  ? 'rotate-180 !text-foreground'
                  : 'rotate-0'
              "
              class="material-symbols-outlined transition-all duration-300"
            >
              keyboard_arrow_up
            </span>
          </span>
          }
        </button>
      </div>
      @if (item.children) {
      <div
        [style.height]="
          collapsedItem() === item.id
            ? 48 * item.children.length +
              4 * (item.children.length - 1) +
              6 +
              'px'
            : '0px'
        "
        [ngClass]="collapsedItem() === item.id ? 'h-auto' : 'h-0'"
        class="overflow-hidden transition-all duration-300"
      >
        <div
          class="block w-full py-1 font-sans text-sm antialiased font-light leading-normal text-gray-700"
        >
          <nav
            class="flex min-w-[240px] flex-col gap-1 p-0 font-sans text-base font-normal text-blue-gray-700"
          >
            @for (children of item.children; track children.label) {
            <a
              closeSidebar
              [routerLink]="children.route"
              routerLinkActive="text-primary hover:text-primary"
              class="flex items-center w-full p-3 leading-tight transition-all rounded-lg outline-none text-start hover:bg-card focus:bg-opacity-80 active:bg-opacity-80 text-muted-foreground hover:text-foreground text-sm font-medium"
            >
              <div class="grid mr-4 place-items-center">
                @if (isOpenSidebar() || !collapseSidebar()) {
                <span class="material-symbols-outlined">
                  keyboard_arrow_right
                </span>
                } @else {
                <span class="w-6 h-6 text-xl pl-[5px]">
                  {{ children.label.charAt(0) }}
                </span>
                }
              </div>
              @if (isOpenSidebar()|| !collapseSidebar()) {
              {{ children.label }}
              }
            </a>
            }
          </nav>
        </div>
      </div>
      }
    </div>
    }
  </nav>
</div>
